<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    {% block title %}<title>Agile* - Events</title>{% endblock %}

    <!-- Bootstrap core CSS -->
    {% load staticfiles %}

    {% load bootstrap4 %}
    {% bootstrap_css %}

    {% block css %}
    {% endblock css %}
    <!-- <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"> -->
  
    <!-- Custom styles for this template -->
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <!--[if IE]>
      <link href='{% static 'css/iefix.css' %}' rel='stylesheet' type='text/css'>
    <![endif]-->


    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment.min.js"></script>


  </head>

  <body>
    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img src="{% static 'img/agile_logo.png' %}" height="80px"/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">EVENTS</a>
            </li>
            
            {% if user.is_authenticated %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="far fa-user-circle fa-lg"></i> {{ user.username }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/users/{{ user.username }}">Profile</a>
                  <!-- <a class="dropdown-item" href="#">My Events</a>
                  <a class="dropdown-item" href="#">My Teams</a> -->
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/account/logout"><i class="fas fa-sign-out-alt"></i>Logout</a>
                </div>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="/account/signup">REGISTER</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/account/login">LOGIN</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      {% block content %} {% endblock %}
    </div>

    <div class="pddn-100-top"></div>
    <!-- Footer -->
    <hr>
    <footer class="py-5 bg-white text-center">
      <div class="container">
          <p>© 2018 <a href="https://agilescientific.com">Agile Scientific</a> •&nbsp;<a href="/">Events</a> • <a href="/terms">Terms</a> • <a href="/privacy">Privacy</a> • <a href="mailto:events@agilescientific.com">Contact</a><br><img src="https://www.dropbox.com/s/g7sriffw9kpxo2r/open_geoscience.png?raw=1" width="100px">&nbsp;&nbsp;Except where noted, all of Agile's content is licensed <a href="https://creativecommons.org/licenses/by/4.0/">CC-BY</a></p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    {% bootstrap_javascript jquery='full' %}
    {% block scripts %} {% endblock %}
    <!-- <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script> -->
    <!-- <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script> -->

  </body>

</html>
