<nav class="breadcrumb">
    <a class="breadcrumb-item" href="/event/{{ event.id }}">Description</a>
    {% if event.event_class_id == 2 %}
        <a class="breadcrumb-item" href="/event/{{ event.id }}/projects">Projects</a>
    {% elif event.event_class_id == 1 %}
        <a class="breadcrumb-item" href="/event/{{ event.id }}/teams">Teams</a>
    {% endif %}
    <a class="breadcrumb-item" href="/event/{{ event.id }}/participants">Participants</a>
    {% if event.forum %}
    <a class="breadcrumb-item" href="/event_forums/forum/{{ event.forum.slug }}-{{ event.forum.id }}">Forum</a>
    {% endif %}
</nav>
