{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

{% include "eventHeader.html" %}

<div class="row pddn-30-top pddn-20-bottom">
  <div class="col-md-8">
    <h1 class="head-pad">
      {{ event.event_title }}
    </h1>
  </div>
  <div class="col-md-4 head-right">
    {% if registered == False %}
      <button type="button" class="btn btn-success head-pad" data-toggle="modal" data-target="#joinModalCenter">
          Join
      </button>
    {% endif %}
  </div>
</div>

<!-- Project -->
<div class="row pddn-30-top">
    <div class="col-md-8">
      <!-- <img class="img-fluid rounded mb-3 mb-md-0" src="{{ event.img_url|safe }}" alt=""> -->
      <p>{{ event.description_text|safe }}</p>
    </div>
    <div class="col-md-4">
      <h4>Date:</h4>
      <h5><small>{{ event.event_date }} - Time: {{ event.event_time }}</small></h5>
      <h4>Location:</h4>
      <h5><small>Church & State</small></h5>
      <h5><small>370 300 E</small></h5>
      <h5><small>Salt Lake City, UT 84111</small></h5>
      <h5><small>USA</small></h5>
    </div>
</div>
<!-- /.row -->

<div class="pddn-100-top"></div>


<!-- Modal -->
<div class="modal fade" id="joinModalCenter" tabindex="-1" role="dialog" aria-labelledby="joinModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="joinModalLongTitle">Join this event</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam laoreet eros non ligula sodales fringilla. Nullam mi enim, vehicula et pulvinar tempus, faucibus vel quam. Sed cursus auctor ex, nec condimentum turpis dapibus eget. Nam tempus urna nec mi convallis, et placerat dui placerat. Proin iaculis ipsum metus, at gravida erat rhoncus eu. Quisque dignissim molestie tortor, quis tristique ligula tincidunt sit amet. Sed iaculis, mi nec dictum maximus, magna nulla pretium turpis, sit amet sodales tellus diam in nunc. 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <a class="btn btn-success" href="{{ event.id }}/join">Accept</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}