{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

{% include "eventHeader.html" %}

<div class="col-10 mx-auto">
  <!-- Page Heading -->
  <div class="row pddn-30-top pddn-20-bottom">
    <div class="col-md-8">
      <h3 class="head-pad">
          Potential ideas for projects
      </h3>
    </div>
    <div class="col-md-4 head-right">
      {% if registered == True %}
        <a class="btn btn-success head-pad" href="/event/{{ event.slug }}/create_idea">Create Idea</a>
      {% endif %}
    </div>
  </div>

  <input type="hidden" id="eslug" name="variable" value="{{ event.slug }}" readonly>
  <input type="hidden" id="uname" name="variable" value="{{ cuser.username }}" readonly>
  <input type="hidden" id="csrfmiddlewaretoken" name="csrfmiddlewaretoken" value="{{ csrf_token }}" readonly>
  
            
  <div id="ideacontainer" class="row ">
    <div id="idea" class="col-lg-12 col-md-12 col-12 mx-auto"></div>
  </div>

</div>

<div class="pddn-100-top"></div>


{% endblock %}

{% block scripts %}
<script>
  function addVote(idea, i) {
      var uname = $(document).find('#uname').val();
      if(uname){
        var btn = $(document).find('#vup'+i);
        var votes = $(document).find('#votes'+i);
        var nvotes = parseInt(votes.text(), 10);
        console.log(nvotes + 1);
        votes.html(nvotes +1);
        btn.addClass("unvote");
        btn.removeClass("vote");
        btn.attr('onclick','remVote("idea",'+i+')');
        var purl = '/event/' + $(document).find('#eslug').val() + '/addvote_idea';
        var csrf = $(document).find('#csrfmiddlewaretoken').val();
        // alert(purl);
        $.post(purl, { name: idea, 'csrfmiddlewaretoken':csrf} );
      } else {
        logurl = "/account/login?next="+'/event/'+$(document).find('#eslug').val()+'/ideas';
        window.location.href = logurl;
      }
  };
  function remVote(idea, i) {
      var uname = $(document).find('#uname').val();
      if(uname){
        var btn = $(document).find('#vup'+i);
        var votes = $(document).find('#votes'+i);
        nvotes = parseInt(votes.text(), 10);
        console.log(nvotes - 1);
        votes.html(nvotes - 1);
        btn.addClass("vote");
        btn.removeClass("unvote");
        btn.attr('onclick', 'addVote("'+idea+'",'+i+')');
        var purl = '/event/' + $(document).find('#eslug').val() + '/remvote_idea';
        var csrf = $(document).find('#csrfmiddlewaretoken').val();
        // alert(purl);
        $.post(purl, { name: idea, 'csrfmiddlewaretoken':csrf} );
      } else {
        logurl = "/account/login?next="+'/event/'+$(document).find('#eslug').val()+'/ideas';
        window.location.href = logurl;
      }
  };

  $(document).ready(function(){
    var repcontainer = $(document).find('#ideacontainer');
    var innelem = $(document).find('#idea');
    $(innelem).html('<div id="loader" class="pddn-50-top"><img src="/static/img/loader.gif" alt="loading..."></div>');

    var get_gh = '/event/' + $(document).find('#eslug').val() + '/getideas';
    var uname = $(document).find('#uname').val();

    requestJSON(get_gh, function(json){
      var outhtml = '<table class="table">'+
                      '<thead>'+
                        '<tr>'+
                          '<th scope="col">Idea</th>'+
                          '<th scope="col">Votes</th>'+
                        '</tr>'+
                      '</thead>'+
                      '<tbody>';
      $.getJSON(get_gh, function(json){
        ideas = json;
        outputIssueContent();
      });

      function outputIssueContent() {
        if(ideas.error){ $(repcontainer).html('<div class="col-12 text-center"> No ideas found!</div>');}
        else {
          var i = 0;
          $.each(ideas, function(index) {
            i = i+1;
            var cmt = ideas[index];
            
            var vbutton = '';
            if(cmt.voters.indexOf(uname) < 0) {
              vbutton = '&nbsp &nbsp <a id="vup'+i+'" class="thumb vote" href="#/" onclick="addVote('+"'"+cmt.name+"'"+', '+i+')"><i class="fas fa-thumbs-up fa-2x "></i></a>';
            }
            else {
              vbutton = '&nbsp &nbsp <a id="vup'+i+'" class="thumb unvote" href="#/" onclick="remVote('+"'"+cmt.name+"'"+', '+i+')"><i class="fas fa-thumbs-up fa-2x "></i></a>';
            };
            outhtml = outhtml +
                      '<tr>'+
                        '<th scope="row">'+
                            '<a href="'+cmt.get_absolute_url+'">'+
                            cmt.name+
                            '</a>'+
                            '&nbsp &nbsp'+
                            '<small style="color: gray;"> by '+
                              '<a style="color: gray;" href="/users/'+cmt.creator+'">'+cmt.creator+'</a>'+
                            '</small>'+
                            '<div class="" id="collapse'+i+'">'+
                              '<div class="card card-body">'+
                                '<p id="idea-detail">'+cmt.detail_short+'</p>'+
                              '</div>'+
                            '</div>'+
                            '<p class="text-muted"><small>'+
                                '<i class="far fa-comment-alt"></i> &nbsp;'+
                                '<a href="'+cmt.get_absolute_url+'" class="text-muted">'+
                                +cmt.comments['length']+' Comments'+
                                '</a>'+
                                // '&nbsp; &nbsp;'+
                                // '<i class="far fa-share-square"></i> &nbsp;'+
                                // 'Share'+
                            '</small></p>'+
                        '</th>'+
                        '<th>'+
                          '<span id="votes'+i+'" class="badge badge-pill badge-info">'+ cmt.votes +'</span>'+
                            vbutton+
                        '</th>'+
                      '</tr>'                      
          });
          outhtml = outhtml + '</tbody> </table>';
          $(innelem).html(outhtml);
          }
        }
    });


    
    function requestJSON(url, callback) {
      $.ajax({
        url: url,
        complete: function(xhr) {
          callback.call(null, xhr.responseJSON);
        }
      });
    };

  });
</script>
{% endblock %}