{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

{% include "eventHeader.html" %}

<div class="col-10 mx-auto">
  <!-- Page Heading -->
  <div class="row pddn-30-top pddn-20-bottom">
    <div class="col-md-8">
      <h3 class="head-pad">
          Project pages
      </h3>
    </div>
    <div class="col-md-4 head-right">
      {% if registered == True %}
        <a class="btn btn-success head-pad" href="/event/{{ event.slug }}/create_project">Create Project</a>
      {% endif %}
    </div>
  </div>

  <div id="accordion">
      {% for p in projects %}
      <div class="card">
        <div class="card-header" id="heading{{ forloop.counter }}">
          <div class="row">

            <div class="col-md-4">
              <h5 class="mb-0">
                <button id="btn{{ forloop.counter }}" class="btn btn-link" data-toggle="collapse" data-target="#collapse{{ forloop.counter }}" aria-expanded="false" aria-controls="collapse{{ forloop.counter }}">
                  {{ p.name }}
                </button>
              </h5>
            </div>
            {% if show %}
            <div class="col-md-8 text-left" style="padding-top: 6px;">
              Team: <a href="/users/{{ p.creator }}"> {{ p.creator }}</a> -
              {% for u in p.members.all %}
                <a href="/users/{{ u.username }}"> {{ u.username }} </a>
                {% if not forloop.last %}
                -
                {% endif %}
              {% endfor %}
            </div>
            {% endif %}
          </div>
        </div>

        <div class="card-body">
          <p class="card-text"><small class="text-muted">
              Team: <a href="/users/{{ p.creator }}"> {{ p.creator }}</a> -
              {% for u in p.members.all %}
                <a href="/users/{{ u.username }}"> {{ u.username }} </a>
                {% if not forloop.last %}
                -
                {% endif %}
              {% endfor %}
          </small></p>
        </div>

        <div id="collapse{{ forloop.counter }}" class="collapse" aria-labelledby="heading{{ forloop.counter }}" data-parent="#accordion">
          <div class="card-body">
              <div class="col-md-12">
                  <div class="jumbotron">
                    <h2>
                      <a href={{ p.get_absolute_url }}>Description</a>
                      {% if user.is_authenticated %}
                        {% if user.username|safe == p.creator|safe %}
                          - 
                          <a href="/project/{{ p.slug }}/edit"class="btn btn-warning" role="button"> Edit </a>
                        {% endif %}
                      {% endif %}
                    </h2>
                    <p>
                        {{ p.detail_small }}
                    </p>
                    {% if p.main_url %}
                    <p>
                      <a class="btn btn-primary btn-large" href="{{ p.main_url }}">{{ p.main_url }}</a>
                    </p>
                    {% endif %}
                    <p>
                      <a href="{{ p.get_absolute_url }}"class="btn btn-info" role="button"> View Details </a>
                    </p>
                  </div>
                  <dl>
                    <dt>
                      Resource links
                    </dt>
                    {% for r in p.resources.all %}
                      <dd>
                        <a href="{{ r.name|safe }}">{{r.name}}</a>
                      </dd>
                      {% empty %}
                      <dd>
                        <small>No relevant data, yet.</small>
                      </dd>
                    {% endfor %}
                  </dl>
              </div>
              {% if p.github %}
              <input type="hidden" id="myVar{{ forloop.counter }}" name="variable" value="{{ p.github }}" readonly>
              
              <div id="ghapidata" class="clearfix"></div>
              {% endif %}
          </div>
        </div>
    </div>
    {% endfor %}
  </div>

{% if show %}
  <div class="card-deck">
    {% for p in projects %}
    <div class="container">
    <div class="row pddn-10-top">
        <div class="col-12">
          <div class="card">
            {% if p.img %}
              <img class="card-img-top" src="..." alt="Card image cap">
            {% endif %}
            <div class="card-body">
              <h5 class="card-title"><a href={{ p.get_absolute_url }}>{{ p.name }}</a></h5>
              <p class="card-text">{{ p.detail_small }}</p>
              <p class="card-text"><small class="text-muted">
                  Team: <a href="/users/{{ p.creator }}"> {{ p.creator }}</a> -
                  {% for u in p.members.all %}
                    <a href="/users/{{ u.username }}"> {{ u.username }} </a>
                    {% if not forloop.last %}
                    -
                    {% endif %}
                  {% endfor %}
              </small></p>
            </div>
            <div class="card-footer">
              <small class="text-muted">
                <a href="{{ p.get_absolute_url }}"class="btn btn-info btn-sm" role="button"> View Details </a>
                {% if user.is_authenticated %}
                  {% if user.username|safe == p.creator|safe %}
                    <a href="{{ p.get_absolute_url }}/edit" class="btn btn-warning btn-sm" role="button"> Edit </a>
                  {% endif %}
                {% endif %}
              </small>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
{% endif %}

</div>

<div class="pddn-100-top"></div>


{% endblock %}

