{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
{% include "breadcrumbs.html" %}

<!-- Page Heading -->
<div class="row pddn-30-top pddn-20-bottom">
  <div class="col-md-8">
    <h3 class="head-pad">
      Teams
    </h3>
  </div>
  <div class="col-md-4 head-right">
    {% if registered == True %}
      <button type="button" class="btn btn-success head-pad" data-toggle="modal" data-target="#createTeamModal">
          Create Team
      </button>
    {% endif %}
  </div>
</div>

<div class="row">
  <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Team Name</th>
          <th scope="col">Team Leader</th>
        </tr>
      </thead>
      <tbody>
        {% for t in teams %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td>{{ t.name }}</td>
          <td>{{ t.member.username }}</td>
        </tr>
        {% endfor %}
      </tbody>
  </table>
</div>


<div class="pddn-100-top"></div>

<!-- Modal -->
<div class="modal fade" id="createTeamModal" tabindex="-1" role="dialog" aria-labelledby="createTeamModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createTeamModalTitle">Create Team</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam laoreet eros non ligula sodales fringilla. Nullam mi enim, vehicula et pulvinar tempus, faucibus vel quam. Sed cursus auctor ex, nec condimentum turpis dapibus eget. Nam tempus urna nec mi convallis, et placerat dui placerat. Proin iaculis ipsum metus, at gravida erat rhoncus eu. Quisque dignissim molestie tortor, quis tristique ligula tincidunt sit amet. Sed iaculis, mi nec dictum maximus, magna nulla pretium turpis, sit amet sodales tellus diam in nunc. 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <a class="btn btn-success" href="#">Create</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}