{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
{% include "eventHeader.html" %}

<div class="col-10 mx-auto">
    <div class="row pddn-30-top pddn-20-bottom">
      <div class="col-md-10">
      <h1 class="head-pad">
        
      </h1>
      <h4> Your spot is reserved! Stay tuned for updates on this website or on <a href="https://softwareunderground.org/">Software Underground</a>.</h4>
    </div>
</div>

{% if show_options %}
  {% include "options_modal.html" %}
{% endif %}

{% endblock %}

{% block scripts %}
  {% if show_options %}
    <script type="text/javascript">
      $(window).on('load',function(){
          $('#optionsModal').modal('show');
      });
    </script>
  {% endif %}
{% endblock %}